.finsihRecipeButton:disabled {
  background: gray;
  border-radius: 5px;
  color: white;
  cursor: not-allowed;
  flex-shrink: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: 40px;
  letter-spacing: 0.42px;
  line-height: normal;
  margin-bottom: 20px;
  margin-top: 20.9px;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
}

.finsihRecipeButton:enabled {
  background: #fcc436;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: 40px;
  letter-spacing: 0.42px;
  line-height: normal;
  margin-bottom: 20px;
  margin-top: 20.9px;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
}

.shareButton {
  position: absolute;
  right: 64px;
  top: 19px;
}

.favoriteButton {
  position: absolute;
  right: 30px;
  top: 19px;
}

.linkCopied {
  display: absolute;
}
