.inProgressRecipeImage {
  flex-shrink: 0;
  height: 161.854px;
  width: 362.012px;
}

.inProgressRecipeTitle {
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 2.1px;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 147px;
}

.divBanner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  width: 100%;
}
