.InProgressMainContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.recipeImage {
  flex-shrink: 0;
  height: 161.854px;
  width: 362.012px;
}

.recipeTitle {
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 2.1px;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 147px;
}

.divBanner {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.ingredientsTile {
  color: #1a1b1c;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 142.803px;
}

.ingredientsList {
  border: 0.554px solid #b1b1b1;
  border-radius: 5.351px;
  display: flex;
  width: 335px;
}
